<div class="prodList">
    <h1>Product List</h1>
    <p class="message-p" style="text-align: center;">{{productMessage}}</p>


    <table class="styled-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList" class="active-row">
                <td><img src="{{item.imgurl}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                
                <td>
                    <fa-icon [icon]="icon" (click)="deleteProduct(item.id)" style="cursor: pointer;"></fa-icon>
                    <a class="update-action-items" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="icon2"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>