body{
    font-family: sans-serif;
    color: black;
    
}
.container{
    margin-left: 5%;
    margin-right: 5%;
    
}

.common-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;

}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding-left: 15px;
    color: black;

}

.error-p{
    color: red;
}

.form-button{

    height: 35px;
    border: 2px solid black;
    color: black;
    cursor: pointer;

}

.message-p{
    color: green;


}
.carousel-caption {
  background-color: #ede0e06a;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: wheat;
    border-radius: 5px;
  }

  .max-width{
    width: 100%;
  }
  .invalid-input{
    color: red;
    font-size: 12px;
    margin-top:-20px
  }
  button:disabled{
    cursor: not-allowed;
  }
